<h3 class="block-title">Задолжности</h3>
<div class="timetable slider">
    @for (int i = 0; i < 3; i++)
    {
        <div class="card timetable-card">
            <div class="timetable-date">Предмет @(i+1)  </div>
            <div class="timetable-lesson-wrapper">
                <div class="timetable-lesson-item">
                    <div class="timetable-lesson-text">Предмет</div>
                    <div class="timetable-duty">Описание задолжности</div>
                </div>
                <div class="timetable-lesson-item">
                    <div class="timetable-lesson-text">Предмет</div>
                    <div class="timetable-duty">Описание задолжности</div>
                </div>
                <div class="timetable-lesson-item">
                    <div class="timetable-lesson-text">Предмет</div>
                    <div class="timetable-duty">Описание задолжности</div>
                </div>
                
            </div>
        </div>
    }
</div>