

 С доступом к роли администратора у вас появляются новые функции, а именно:
<br>
- Просмотр списка всех студентов или преподавателей, а также возможность регистрации пользователя
</br>
<br>
- Изменение вкладки контактных данных
</br>
<br>
- Изменение ленты новостей
</br>
<br>
- Загрузка нового расписания
</br>
<section class="index-interesting">
    <h2 class="block-title">Интересные страницы</h2>
    <div class="card-list">
        <a class="card" asp-controller="Log" asp-action="Index">
            <img class="icon" src="~/img/admin/student-svgrepo-com.svg" alt="" width="70" height="70" aria-hidden="true">
            <b class="card-name">Студенты</b>
        </a>
        <a class="card" asp-controller="Teachers" asp-action="Index">
            <img class="icon" src="~/img/index/teacher-svgrepo-com.svg" alt="" width="70" height="70" aria-hidden="true">
            <b class="card-name">Преподаватели</b>
        </a>
        <a class="card" asp-controller="Log" asp-action="Index">
            <img class="icon" src="~/img/admin/setting-svgrepo-com.svg" alt="" width="70" height="70" aria-hidden="true">
            <b class="card-name">Настройки сайта</b>
        </a>
        <a class="card" asp-controller="Timetable" asp-action="Index">
            <img class="icon" src="~/img/sidebar/timetable.svg" alt="" width="70" height="70" aria-hidden="true">
            <b class="card-name">Расписание</b>
        </a>
        <a class="card" asp-controller="Statments" asp-action="Index">
            <img class="icon" src="~/img/index/document-svgrepo-com.svg" alt="" width="70" height="70" aria-hidden="true">
            <b class="card-name">Помощь</b>
        </a>
        <a class="card" asp-controller="Log" asp-action="Index">
            <img class="icon" src="~/img/index/news-svgrepo-com.svg" alt="" width="70" height="70" aria-hidden="true">
            <b class="card-name">Добавить новости</b>
        </a>
    </div>
</section>
<link href="~/lib/slick/slick.css" rel="stylesheet" asp-append-version="true">
<link href="~/lib/slick/slick-theme.css" rel="stylesheet" asp-append-version="true">
<script src="~/lib/slick/slick.min.js" asp-append-version="true"></script>
<script>$('.slider').slick({ dots: true });</script>
