
@{
    ViewData["Title"] = "Главная";
    ViewData["ActiveMenuLink"] = "menu-link-main-page";
}

<div class="index-ajax-wrapper"></div>
<link href="~/lib/slick/slick.css" rel="stylesheet" asp-append-version="true">
<link href="~/lib/slick/slick-theme.css" rel="stylesheet" asp-append-version="true">
<script src="~/lib/slick/slick.min.js" asp-append-version="true"></script>
<script>
    $('.slider').slick({ dots: true });
    $(document).ready(function () {
     $.ajax({
            type: "POST",
            url: "@Url.Action("Home", "IndexPartial")",
            beforeSend: Loader,
            complete: Loader
        }).done(function (data) {
            $('.index-ajax-wrapper').html(data);
        }).fail(function (data) {
        })
         ;})
</script>