
@{
    ViewData["Title"] = "Главная";
    ViewData["ActiveMenuLink"] = "menu-link-main-page";
}

<div class="index-ajax-wrapper"></div>

<script>
    
    $(document).ready(function () {
     $.ajax({
            type: "POST",
            url: "@Url.Action("IndexPartial", "Home")",
            beforeSend: Loader,
            complete: Loader
        }).done(function (data) {
            $('.index-ajax-wrapper').html(data);
        }).fail(function () {
            $('.index-ajax-wrapper').html("1");
        })
         ;})
</script>

