.index-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.timetable-wrapper, .deadline-wrapper {
    overflow: hidden;
    width: calc(50% - 20px);
    margin-right: 20px;
}
.timetable {
    width: 100%;


    .slick-prev {
        left: 0;
        z-index: 5;
    }

    .slick-next {
        right: 0;
    }

    .slick-arrow::before {
        color: $primary-text-color;
    }

    .slick-dots {
        display: none !important;
    }

    .timetable-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .timetable-date {
        margin-bottom: 15px;
        min-width: 55px;
        font-size: 18px;
        color: $secondary-text-color;
        font-weight: 700;
    }

    .timetable-lesson-item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    .timetable-lesson-time {
        width: 50px;
        min-width: 55px;
        margin-right: 15px;
        font-weight: 500;
    }

    .timetable-lesson-text {
        width: 30%;
        min-width: 150px;
        font-size: 16px;
        font-weight: 600;
        color: $secondary-text-color;
    }

    .timetable-lesson-teacher {
        width: 30%;
        flex-grow: 1;
        min-width: 150px;
        font-weight: 500;
    }

    .timetable-lesson-place {
        width: 15%;
        min-width: 50px;
        color: $active-secondary-button-background;
    }
}
@media (max-width: 1023px) {
    .timetable-wrapper, .deadline-wrapper {
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 468px) {
    .timetable .timetable-lesson-item {
        flex-direction: column;
    }
}
.slider-guest {
    width: 100%;
    margin: 50px 20px;
    min-height: 200px;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 70%, rgba(0,125,255,1) 100%);
    padding: 25px;
    border-radius: 20px;
}
.guest-text {
    display: flex;
    align-items: center;
    margin: auto 10px;
    color: $fourth-text-color;
    font-size: 32px;
    font-weight:700;
    width: 70%;
    margin-top:25px;
   
}
.guest-link-slider {
    color: $third-text-color;
    cursor: pointer;

     img {
        display: inline !important;
        margin-right: 10px;
    }
}
.teacher-text {
    display: block;
}
.teacher-text-list {
    font-size: 20px;
}