<div class="admin-users-info-table">
    <div class="admin-users-info-head">
        <div class="admin-users-info-wrapper">
            <div class="admin-users-info-item admin-users-info-edit-btn">

            </div>
            <div class="admin-users-info-item admin-users-info-name">
                Имя
            </div>
            <div class="admin-users-info-item admin-users-info-last-name">
                Фамилия
            </div>
            <div class="admin-users-info-item admin-users-info-middele-name">
                Отчество
            </div>
            <div class="admin-users-info-item admin-users-info-login">
                Логин
            </div>
            <div class="admin-users-info-item admin-users-info-phone">
                Телефон
            </div>
            <div class="admin-users-info-item admin-users-info-email">
                Почта
            </div>
        </div>
    </div>
    <div class="admin-users-info-body">
        
            <div class="admin-users-info-wrapper">
                <div class="admin-users-info-item admin-users-info-edit-btn">
                    @*<a class="nonedit primary-btn blue " data-userElement="@i">Редактировать</a>
                        <a class="edit primary-btn" data-userElement="@i" style="display: none">Сохранить</a>*@
                    <a class="primary-btn getAccounts blue" data-prefferedUsername="">Получить л/с</a>
                    <a class="primary-btn hideAccounts"  style="display: none">Скрыть л/с</a>
                    <input type="hidden" name="Id" value=""  />
                </div>
                <div class="admin-users-info-item admin-users-info-name">
                    <span class="nonedit"  data-name="FirstName"></span>
                    <input class="edit form-input"  style="display: none" value="" name="FirstName" />
                </div>
                <div class="admin-users-info-item admin-users-info-last-name">
                    <span class="nonedit" data-userElement="" data-name="LastName"></span>
                    <input class="edit form-input"  style="display: none" value="" name="LastName" />
                </div>
                <div class="admin-users-info-item admin-users-info-middele-name">
                    <span class="nonedit"  data-name="MiddleName"></span>
                    <input class="edit form-input"  style="display: none" value="" name="MiddleName" />
                </div>
                <div class="admin-users-info-item admin-users-info-login">
                   
                </div>
                <div class="admin-users-info-item admin-users-info-phone">
                   
                </div>
                <div class="admin-users-info-item admin-users-info-email">
                    
                </div>
            </div>
            <div class="admin-users-info-wrapper" style="display: none" >
            </div>
       
    </div>
</div>