@{
    ViewData["Title"] = "Подать заявление";
    ViewData["ActiveMenuLink"] = "menu-link-statment";
}
<ul class="breadcrumbs">
    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
    <li>
        <a class="active"> @ViewData["Title"]</a>
    </li>
</ul>
<section class="appeal">
    <div class="appeal-header">
        <h1 class="block-title">Обращения</h1>
        <a class="new-appeal-link js-scroll" href="#appeal-form">Создать обращение</a>
    </div>
    <div class="appeal-wrapper">

            <div class="appeal-content">
                <div class="appeal-choice-status-wrapper">
                    <div class="appeal-choice-status">
                        <label class="main-checkbox">
                            <input class="visually-hidden" id="new-ticket" type="checkbox" checked="">
                            <span class="main-checkbox-text left">Новые</span>
                        </label>
                        <label class="main-checkbox">
                            <input class="visually-hidden" id="closed-ticket" type="checkbox" checked="">
                            <span class="main-checkbox-text left">Закрытые</span>
                        </label>
                    </div>
                    <span class="appeal-choice-status-error">* Тип обращений не выбран!</span>
                </div>
                <div class="appeal-list-wrapper">

                        
                            <div class="card-list big-card-list appeal-card-list" >
                                
                                    <a  class="card big-card appeal-card">
                                        
                                        <div class="card-name appeal-card-name">
                                            
                                        </div>
                                        <span class="card-description appeal-card-description"></span>
                                        <p class="appeal-card-bottom">
                                            <span class="appeal-card-status my-appeal-status"></span>
                                            <time class="appeal-card-created">
                                                Создан:   
                                            </time>
                                        </p>
                                    </a>
                               
                            </div>
                       
                    @*else
                    {
                        <h3 style="margin-left:34px; font-size: 20px; font-weight: 500; margin-top: 30px;">У вас пока нет обращений.</h3>*@

                    @*}*@
                </div>
            </div>
            <div class="filters-wrap appeal-form-wrapper" id="appeal-form">
                <form action="" class="appeal-form" enctype="multipart/form-data">
                    <b class="appeal-form-name">Новое обращение</b>

                        <div class="form-field">
                            <label for="appeal-form-account" class="main-label">Лицевой счет</label>
                            <div id="div-appeal-form-account">
                                <select class="main-select appeal-select-account required" id="appeal-form-account" name="appeal-form-account">
                                    
                                </select>
                            </div>
                        </div>
                    <div class="form-field">
                        <label for="appeal-form-type" class="main-label">Заявка</label>
                        <div id="div-appeal-form-type">
                            <select class="main-select appeal-select-type required" id="appeal-form-type" name="appeal-form-type">
                                <option value="" selected disabled hidden></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="appeal-form-email" class="main-label">Электронная почта</label>
                        <input type="email" class="form-input required" id="appeal-form-email" name="appeal-form-email"
                               placeholder="Введите email"
                               value="">
                    </div>
                    <div class="form-field">
                        <label for="appeal-form-message" class="main-label">Сообщение</label>
                        <textarea class="appeal-form-textarea form-input form-textarea required" name="appeal-form-message" id="appeal-form-message" placeholder="Текст заявки"></textarea>
                    </div>
                    <div class="form-file-field appeal-form-file">
                        <input type="file" name="passportSelfie[]" id="passportSelfie" class="input-file visually-hidden" multiple="multiple">
                        <label for="passportSelfie" class="btn btn-tertiary js-labelFile">
                            <span class="js-fileName">Прикрепить файлы</span>
                        </label>
                        <label for="passportSelfie" class="main-label">Форматы файлов для отправки: pdf, docx, doc, jpg, jpeg, png</label>
                    </div>
                        <div class="form-field">
                            <label id="sogl-error" class="error" for="sogl" style="display: none;"></label>
                            <label class="main-checkbox">
                                <input class="visually-hidden" name="sogl" id="sogl" type="checkbox">
                                <span class="main-checkbox-text left contacts-content" style="margin-left:0;">
                                    Согласен(-на) на
                                    <a href="~/policy/PrivacyPolicy.pdf" target="_blank" class="Policy">обработку персональных данных</a>
                                </span>
                            </label>
                        </div>
                    <br />
                    
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey=""></div>
                            <label id="g-recaptcha-response-error" class="error" for="g-recaptcha-response" style="display: none;"></label>
                        </div>
                    <button class="primary-btn" type="submit">Отправить</button>
                </form>
            </div>

        @*else
        {
            <h3 class="no-data-msg">@Html.Raw(Model?.result?.message ?? "Неизвестная ошибка! Повторите запрос позже или обратитесь в службу поддержки")</h3>
        }*@
    </div>
</section>
<script>
    $('.main-select').select2;
</script>