
<div class="main-header-menu">
    
        

    </div>

    <script>
        function dropdown(btn) {
            $(btn).parents(".main-header-menu").toggleClass('active').fadeIn(100);
        }
    </script>
    <script>

    $.ajax({
        type: "POST",
        url: "@Url.Action("HeaderPartial", "Role")",
    }).done(function (data) {
        $('.main-header-menu').html(data);
    }).fail(function () {
        $('.main-header-menu').html("1");
    });
    </script>
