
    <div class="main-header-menu">
        @if (ViewBag.Role == "1")
        {<partial name="Headers/_HeaderStudent" />}
        else
        {<partial name="Headers/_HeaderWithoutRole" />}
        <button class="main-header-button" onclick="dropdown(this)"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><rect class="a" width="15" height="15" /><path class="b" d="M1.086,8.526a1.626,1.626,0,0,1,2.3-2.3l4.4,4.4,4.4-4.4a1.624,1.624,0,0,1,2.294,2.3L8.929,14.069a1.616,1.616,0,0,1-2.294,0L1.086,8.526Z" transform="translate(-0.282 -2.648)" /></svg></button>

    </div>

<script>
    function dropdown(btn) {
        $(btn).parents(".main-header-menu").toggleClass('active').fadeIn(100);
    }
</script>