$color-dark-blue: #233D9A;
$color-light-blue: #47A9FF;
$color-white-blue: #CBE7FF;
$color-orange: #F86512;
$color-white: #ffffff;
$color-green: #4EAA54;
$color-red: #de2323;
$color-warning: #E74C3C;
$color-white-orange: #FF7223;
$color-dark-orange: #F86512;
$color-black: #000;
$color-grey: #242424;
$primary-visually-impared-color: $color-black;
$secondary-visually-impared-color: $color-grey;
$third-visually-impared-color: $color-white;
$grey-visually-impared-color: #808080;
$primary-black-visually-impared-color: $color-white;
$secondary-black-visually-impared-color: #f0f0f0;
$third-black-visually-impared-color: $color-black;
$primary-blue-visually-impared-color: #063462;
$secondary-blue-visually-impared-color: #063462;
$blue-visually-impared-color: #9dd1ff;
$third-blue-visually-impared-color: $color-white;
$primary-brown-visually-impared-color: #59422e;
$secondary-brown-visually-impared-color: #a17b5a;
$third-brown-visually-impared-color: #cac7b0;
$brown-visually-impared-color: #f7f3d6;
$primary-green-visually-impared-color: #a9dd38;
$secondary-green-visually-impared-color: #749925;
$third-green-visually-impared-color: #354610;
$green-visually-impared-color: #3b2716;



// цвет текста
$primary-text-color: $color-dark-blue; // темно-синий
$secondary-text-color: $color-orange; // оранжевый
$third-text-color: $color-light-blue; // голубой
$fourth-text-color: $color-white;
$reserve-text-color: $color-white-blue;
$extra-text-color: $color-green;
$gray-text-color: #999999;
$warning-text-color: $color-warning;

// цвет рамок
$primary-border-color: $color-light-blue;
$secondary-border-color: $color-white;
$third-border-color: $color-orange;
$fourth-border-color: $color-white-blue;
$eight-border-color: $color-dark-blue;
$extra-border-color: $color-green;
$warning-border-color: $color-warning;

// скругление рамок
$primary-border-radius: 10px;
$secondary-border-radius: 20px;
$third-border-radius: 100px;
$fourth-border-radius: 100px;
// цвет фона
$primary-background: $color-white;
$secondary-background: $color-orange;
$third-background: $color-light-blue;
$fourth-background: $color-dark-blue;
$fifth-background: $color-white-blue;
$card-background: rgba(255, 255, 255, 1);
$gray-background: #edf1f5;
$extra-background: $color-green;
$danger-background: $color-red;
$warning-background: rgba(255, 94, 0, 0.09);
$info-background: rgba(23, 75, 140, 0.38);
$sixth-background: $color-white-orange;
$seventh-background: $color-dark-orange;
$secondary-buttons-background: #3FA2F8;
$active-card-background: #F1F8FF;
$active-secondary-button-background: #0389FF;

// поля формы
$readonly-bg-border: $color-white-blue;
$disabled-input-background: #c9c9c9;

// шрифт
$primary-font-family: "Roboto";
$primary-font-size: 16px;
$primary-font-weight: 400;

// media-requires
$big-desktop-width: 1919px;
$mid-desktop-width: 1549px;
$small-desktop-width: 1219px;

$tablet-width: 1023px;

$big-phone-width: 767px;
$phone-width: 479px;

// тени
$primary-shadow-color: rgba(47, 131, 222, 0.2); // синяя
$secondary-shadow-color: rgba(248, 101, 18, 0.1); // оранжевая
$third-shadow-color: rgba(0, 0, 0, 0.16); // черная
$extra-shadow-color: rgba(47, 131, 222, 0.4); // синяя тень с грубыми границами
$fourth-shadow-color: rgba(66, 170, 255, 0.3);
// рамки в таблице
$table-border-color: #f1f1f1;
