$color-dark-blue: #024a92;
$color-light-blue: #83b4ff;
$color-white-blue: #b8d4ff;
$color-orange: #d92419;
$color-white: #ffffff;
$color-green: #04ff00;
$color-red: #ff0000;
$color-warning: #E74C3C;
$color-white-orange: #FF7223;
$color-dark-orange: #F86512;
// цвет текста
$primary-text-color: $color-dark-blue; // темно-синий
$secondary-text-color: $color-orange; // оранжевый
$third-text-color: $color-light-blue; // голубой
$fourth-text-color: $color-white;
$reserve-text-color: $color-white-blue;
$extra-text-color: $color-green;
$gray-text-color: #999999;
$warning-text-color: $color-warning;

// цвет рамок
$primary-border-color: $color-light-blue;
$secondary-border-color: $color-white;
$third-border-color: $color-orange;
$fourth-border-color: $color-white-blue;
$eight-border-color: $color-dark-blue;
$extra-border-color: $color-green;
$warning-border-color: $color-warning;

// скругление рамок
$primary-border-radius: 10px;
$secondary-border-radius: 20px;
$third-border-radius: 100px;
$fourth-border-radius: 100px;
// цвет фона
$primary-background: $color-white;
$secondary-background: $color-orange;
$third-background: $color-light-blue;
$fourth-background: $color-dark-blue;
$fifth-background: $color-white-blue;
$card-background: rgba(255, 255, 255, 1);
$gray-background: #edf1f5;
$extra-background: $color-green;
$danger-background: $color-red;
$warning-background: rgba(255, 94, 0, 0.09);
$info-background: rgba(23, 75, 140, 0.38);
$sixth-background: $color-white-orange;
$seventh-background: $color-dark-orange;
$secondary-buttons-background: #3FA2F8;
$active-card-background: #F1F8FF;
$active-secondary-button-background: #0389FF;

// шрифт
$primary-font-family: "Roboto";
$primary-font-size: 16px;
$primary-font-weight: 400;

// media-requires
$big-desktop-width: 1919px;
$mid-desktop-width: 1549px;
$small-desktop-width: 1219px;
$tablet-width: 1023px;
$big-phone-width: 767px;
$phone-width: 479px;

// тени
$primary-shadow-color: rgba(47, 131, 222, 0.2); // синяя
$secondary-shadow-color: rgba(248, 101, 18, 0.1); // оранжевая
$third-shadow-color: rgba(0, 0, 0, 0.16); // черная
$extra-shadow-color: rgba(47, 131, 222, 0.4); // синяя тень с грубыми границами
$fourth-shadow-color: rgba(66, 170, 255, 0.3);
// рамки в таблице
$table-border-color: #f1f1f1;
