<div class="sidebar">
    <button class="sidebar-close" type="button"><span class="visually-hidden">Закрыть</span></button>
    <a href="/" class="sidebar-logo">
        <img src=@Url.Content("~/img/logo.jpg") width="100" height="100" alt="Логотип">
    </a>
    <nav class="main-nav">
        <div class="menu-list main-menu-list">
            <partial name="MainMenu/_MainMenu_Student" />
        </div>
        <ul class="menu-list bottom-menu-list">
            <li class="menu-item">
                <a class="menu-link @SetMenuClassAndActive("menu-link-contacts")" asp-area="" asp-controller="Contacts" asp-action="Index">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="30" height="30" viewBox="0 0 512.000000 512.000000"
                         preserveAspectRatio="xMidYMid meet">
                        <metadata>
                            Created by potrace 1.16, written by Peter Selinger 2001-2019
                        </metadata>
                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                            stroke="none">
                            <path d="M3846 5103 c-397 -85 -730 -423 -811 -822 -13 -63 -16 -119 -13 -244
5 -195 24 -277 102 -431 46 -91 934 -1476 946 -1476 12 0 900 1385 946 1476
78 154 97 236 102 431 3 125 0 181 -13 244 -81 403 -417 740 -817 823 -100 21
-345 20 -442 -1z m367 -616 c282 -102 387 -438 212 -675 -146 -199 -417 -242
-613 -97 -286 210 -223 647 112 771 86 32 202 32 289 1z" />
                            <path d="M3986 4201 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 39 -26
129 -26 168 0 46 31 66 69 66 131 0 62 -20 100 -66 131 -20 13 -47 19 -84 19
-37 0 -64 -6 -84 -19z" />
                            <path d="M752 3356 c-408 -123 -745 -225 -747 -228 -3 -3 -4 -685 -3 -1516 l3
-1510 743 222 c408 123 745 225 747 228 3 3 4 685 3 1516 l-3 1510 -743 -222z" />
                            <path d="M1812 2049 l3 -1520 593 -265 c327 -145 598 -264 603 -264 5 0 8 609
7 1546 l-3 1545 -555 221 c-305 121 -576 228 -603 239 l-47 19 2 -1521z" />
                            <path d="M3320 1372 c0 -1091 3 -1372 12 -1372 7 0 345 111 750 246 l738 246
0 1126 c0 652 -4 1122 -9 1116 -5 -5 -172 -260 -371 -566 -199 -307 -366 -558
-370 -558 -4 0 -171 251 -370 558 -199 306 -366 561 -371 567 -5 5 -9 -568 -9
-1363z" />
                        </g>
                    </svg>
                    Контакты
                </a>
            </li>
        </ul>
    </nav>
    
</div>
@{
    string SetMenuClassAndActive(string menuLinkClassName)
    {
        if ((string)ViewData["ActiveMenuLink"] == menuLinkClassName)
            return $"{menuLinkClassName} active";
        else
            return menuLinkClassName;
    }
}


