/* Левый блок меню */
.sidebar {
    position: fixed;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 340px;
    padding: 35px 0 20px 0;
    background: #fff url("../img/sidebar/bg/sidebar-blue-figure.svg") no-repeat left -13% bottom 5%;
    /*    background: url("../img/sidebar/bg/background-figure.svg") no-repeat left -5% bottom 5%;*/
    -webkit-box-shadow: 6px 0px 30px -4px rgba(71,169,255,0.5);
    box-shadow: 6px 0px 30px -4px rgba(71,169,255,0.5);
}

/* Для адаптивного меню */

/* меню-бургер */
.sidebar-menu-toggle {
    position: relative;
    display: none;
    width: 40px;
    height: 29px;
    margin-right: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    span {
        content: "";
        top: 0;
        left: 0;
    }

    span,
    span::before,
    span::after {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 7px;
        border-radius: 2px;
        background-color: $secondary-background;
    }

    span::before {
        content: "";
        top: 11px;
        left: 0;
    }

    span::after {
        content: "";
        top: 22px;
        left: 0;
    }
}

/* кнопка закрыть */
.sidebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;


    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        margin-top: -1.5px;
        background-color: $third-background;
    }

    &::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/* ***************** */

.sidebar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
}

/* Меню в сайдбаре */
.main-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px 25px 20px;
    height: 100%;
    overflow: hidden;
}

.sidebar-old-site-link-mobile {
    display: none;

    @media (max-width: 1219px) {
        display: block !important;
    }
}

.sidebar-old-site-link {
    font-size: 16px;
    line-height: 20px;
    color: $primary-text-color;
    font-weight: 700;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 11px 8px 13px 44px;

    &:hover,
    &:focus {
        color: $secondary-text-color;
        text-decoration: none;
    }

    &:active {
        opacity: 0.7;
    }

    @media (max-width: 1219px) {
        display: none;
    }
}

// кастомный скрол
.main-nav .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba($third-background, 0.75);
}

.main-nav .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba($third-background, 0.85);
}

.main-nav .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba($third-background, 0.9) !important;
}

.main-nav .mCSB_inside > .mCSB_container {
    margin-right: 20px;
}
// конец стилей кастомного скрола
.main-nav .menu-list {
    height: 100%;
    overflow: hidden;
}

.main-nav .menu-item:last-child {
    margin-bottom: 0;
}

.menu-list {
    @include reset-list();
}

.menu-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 26px;
    padding-right: 26px;
    padding-left: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* Счетчик для отображения количества чего-нибудь, например сообщений */
.menu-item-counter-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
}

.menu-item-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 24px;
    height: 24px;
    margin-left: auto;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    color: $fourth-text-color;
    vertical-align: middle;
    background-color: $secondary-background;
    border-radius: $primary-border-radius;
}

.menu-link {
    position: relative;
    min-height: 24px;
    padding-left: 40px;
    max-width: 215px;
    font-size: 17px;
    color: $primary-text-color;
    line-height: 24px;
    font-weight: 500;
    vertical-align: middle;
    word-break: break-word;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &.disabled {
        color: $gray-text-color;
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:hover {
        font-weight: 700;
    }

    &.active {
        color: $secondary-text-color;
    }
}

.menu-link svg {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Иконка главная */
.menu-link svg {

        fill: $third-background;
        fill-rule: evenodd;
}

.menu-link:hover svg  {
    fill: $active-secondary-button-background;
}

.active.menu-link svg  {
    fill: $secondary-background;
}

/*кнопки-подсказки*/
.menu-tooltip {
    background: $primary-background;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    margin-left: -35px;
    z-index: 1000;
    color: $third-text-color;
    border: 4px solid $fourth-border-color;
    padding: 0;
    text-align: center;

    &:hover, &:focus {
        background-color: $third-background;
        color: $fourth-text-color;
        border: 4px solid $third-background;
        padding: 0;
    }
}
/* min-width: 1220px */
@media screen and (max-width: 1550px) {
    .sidebar {
        width: 300px;
        padding-right: 25px;
        padding-left: 25px;
        background-position: left -11% bottom -4%, left -20% bottom -12%;
    }

    .main-nav {
        padding: 0 0 30px;
    }

    .bottom-menu-list {
        padding: 20px 0 0 0;

        &::before {
            left: 0;
            width: 100%;
            margin-left: 0;
        }
    }
}

/* min-width: 1024px */
@media screen and (max-width: 1219px) {
    .sidebar {
        position: fixed;
        left: -300px;
        z-index: 103;
        padding-top: 50px;
        visibility: hidden;
        -webkit-transition: all ease;
        -o-transition: all ease;
        transition: all ease;
        -webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
    }

    /* Для адаптивного меню показать/скрыть сайдбар */
    .sidebar-show {
        left: 0;
        visibility: visible;
    }

    /* Кнопка для открытия сайдбара */
    .sidebar-menu-toggle {
        display: block;
    }

    /* Кнопка для закрытия сайдбара */
    .sidebar-close {
        display: block;
    }

    /* Основное меню */
    .main-nav {
        height: 89%;
    }
}

@media (max-width: 1023px) {
    .sidebar-menu-toggle {
        margin-right: 0;
    }
}

@media (max-width: 479px) {
    .sidebar-menu-toggle {
        width: 33px;
        height: 25px;

        span,
        span::before,
        span::after {
            height: 5px;
        }

        span::before {
            top: 10px;
        }

        span::after {
            top: 20px;
        }
    }
}
