/* Левый блок меню */
.sidebar {
    position: fixed;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 340px;
    padding: 35px 0 20px 0;
    background: #fff url("../img/sidebar/bg/sidebar-blue-figure.svg") no-repeat left -13% bottom 5%;
    /*    background: url("../img/sidebar/bg/background-figure.svg") no-repeat left -5% bottom 5%;*/
    -webkit-box-shadow: 6px 0px 30px -4px rgba(71,169,255,0.5);
    box-shadow: 6px 0px 30px -4px rgba(71,169,255,0.5);
}

/* Для адаптивного меню */

/* меню-бургер */
.sidebar-menu-toggle {
    position: relative;
    display: none;
    width: 40px;
    height: 29px;
    margin-right: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    span {
        content: "";
        top: 0;
        left: 0;
    }

    span,
    span::before,
    span::after {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 7px;
        border-radius: 2px;
        background-color: $secondary-background;
    }

    span::before {
        content: "";
        top: 11px;
        left: 0;
    }

    span::after {
        content: "";
        top: 22px;
        left: 0;
    }
}

/* кнопка закрыть */
.sidebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;


    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        margin-top: -1.5px;
        background-color: $third-background;
    }

    &::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

/* ***************** */

.sidebar-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 48px;
}

/* Меню в сайдбаре */
.main-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px 25px 20px;
    height: 100%;
    overflow: hidden;
}

.sidebar-old-site-link-mobile {
    display: none;

    @media (max-width: 1219px) {
        display: block !important;
    }
}

.sidebar-old-site-link {
    font-size: 16px;
    line-height: 20px;
    color: $primary-text-color;
    font-weight: 700;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 11px 8px 13px 44px;

    &:hover,
    &:focus {
        color: $secondary-text-color;
        text-decoration: none;
    }

    &:active {
        opacity: 0.7;
    }

    @media (max-width: 1219px) {
        display: none;
    }
}

// кастомный скрол
.main-nav .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba($third-background, 0.75);
}

.main-nav .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba($third-background, 0.85);
}

.main-nav .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba($third-background, 0.9) !important;
}

.main-nav .mCSB_inside > .mCSB_container {
    margin-right: 20px;
}
// конец стилей кастомного скрола
.main-nav .menu-list {
    height: 100%;
    overflow: hidden;
}

.main-nav .menu-item:last-child {
    margin-bottom: 0;
}

.menu-list {
    @include reset-list();
}

.menu-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 26px;
    padding-right: 26px;
    padding-left: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* Счетчик для отображения количества чего-нибудь, например сообщений */
.menu-item-counter-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
}

.menu-item-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 24px;
    height: 24px;
    margin-left: auto;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    color: $fourth-text-color;
    vertical-align: middle;
    background-color: $secondary-background;
    border-radius: $primary-border-radius;
}

.menu-link {
    position: relative;
    min-height: 24px;
    padding-left: 40px;
    max-width: 215px;
    font-size: 17px;
    color: $primary-text-color;
    line-height: 24px;
    font-weight: 500;
    vertical-align: middle;
    word-break: break-word;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &.disabled {
        color: $gray-text-color;
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:hover {
        font-weight: 700;
    }

    &.active {
        color: $secondary-text-color;
    }
}

.menu-link svg {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Иконка главная */
.menu-link-main-page svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-main-page:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-main-page svg .b {
    fill: $secondary-background;
}

/* Иконка оплата */
.menu-link-payment svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-payment:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-payment svg .b {
    fill: $secondary-background;
}

/* Иконка ввод показаний */
.menu-link-meter svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-meter:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-meter svg .b {
    fill: $secondary-background;
}

/* Иконка история операций */
.menu-link-history svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-history:hover svg .a {
    fill: $active-secondary-button-background;
}

.active.menu-link-history svg .a {
    fill: $secondary-background;
}

/* Иконка услуги */
.menu-link-services svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-services:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-services svg .b {
    fill: $secondary-background;
}

// настройки маркетплейса в админке
.menu-link-marketplace-settings svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-marketplace-settings:hover svg {
    .b {
        fill: $active-secondary-button-background;
    }
}

.active.menu-link-marketplace-settings svg {
    .b {
        fill: $secondary-background;
    }
}

/* Иконка товары */
.menu-link-goods svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-goods:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-goods svg .b {
    fill: $secondary-background;
}

/* Иконка мои заказы */
.menu-link-orders svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-orders:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-orders svg .b {
    fill: $secondary-background;
}

/* Иконка лицевые счета */
.menu-link-accounts svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-accounts:hover svg .a {
    fill: $active-secondary-button-background;
}

.active.menu-link-accounts svg .a {
    fill: $secondary-background;
}

.menu-link-moderator svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-moderator:hover svg .a {
    fill: $active-secondary-button-background;
}

.active.menu-link-moderator svg .a {
    fill: $secondary-background;
}

.menu-link-executor svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-executor:hover svg .a {
    fill: $active-secondary-button-background;
}


.active.menu-link-executor svg .a {
    fill: $secondary-background;
}

/* Иконка обращения */
.menu-link-treatment svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-treatment:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-treatment svg .b {
    fill: $secondary-background;
}

/* Иконка исполнитель */
.menu-link-executor svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-executor:hover svg .a {
    fill: $active-secondary-button-background;
}

.active.menu-link-executor svg .a {
    fill: $secondary-background;
}

/* Иконка собрания */
.menu-link-meetings svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-meetings:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-meetings svg .b {
    fill: $secondary-background;
}

/* Иконка мой дом */
.menu-link-my-home svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-my-home:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-my-home svg .b {
    fill: $secondary-background
}

/* Иконка модерация исполнителей */
.menu-link-moderation-emoloyee svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-moderation-emoloyee:hover svg .a {
    fill: $active-secondary-button-background;
}

.active.menu-link-moderation-emoloyee svg .a {
    fill: $secondary-background;
}

/* Иконка модерации заказов */
.menu-link-moderation-request svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-moderation-request:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-moderation-request svg .b {
    fill: $secondary-background
}

/* иконка невостребованных заказов */
.menu-link-moderation-unfavorite-request svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-moderation-unfavorite-request:hover svg .a {
    fill: $active-secondary-button-background;
}

.active.menu-link-moderation-unfavorite-request svg .a {
    fill: $secondary-background
}

/* иконка платежные документы */
.menu-link-moderation-pay-documents svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-moderation-pay-documents:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-moderation-pay-documents svg .b {
    fill: $secondary-background
}

/* иконка баннеры */
.menu-link-banners svg {
    fill: $third-background;
}

.menu-link-banners:hover svg {
    fill: $active-secondary-button-background;
}

.active.menu-link-banners svg {
    fill: $secondary-background;
}

/* иконка категории услуг */
.menu-link-job-category svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-job-category:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-job-category svg .b {
    fill: $secondary-background;
}

/* иконка категории услуг */
.menu-link-ads svg, .menu-link-ads-user svg, .menu-link-add-ads svg, .menu-link-archived-ads svg {
    fill: $third-background;
    fill-rule: evenodd;
}

.menu-link-ads:hover svg, .menu-link-ads-user:hover svg, .menu-link-add-ads:hover svg, .menu-link-archived-ads:hover svg {
    fill: $active-secondary-button-background;
}

.active.menu-link-ads svg, .active.menu-link-ads-user svg, .active.menu-link-add-ads svg, .active.menu-link-archived-ads svg {
    fill: $secondary-background;
}

/* Меню в нижней части сайдбара */
.bottom-menu-list {
    position: relative;
    padding: 20px 20px 50px 20px;
    margin-top: auto;
}

/* Иконка для ЛК */
.menu-link-share {
    background: url("../img/sidebar/icon-sidebar-share.svg") no-repeat left center;
}

.menu-link-share:hover,
.active.menu-link-share {
    background: url("../img/sidebar/icon-sidebar-share-hover.svg") no-repeat left center;
}

/* Иконка контакты */
.menu-link-contacts svg {
    .a {
        fill: $third-background;
        fill-rule: evenodd;
    }

    .b {
        fill: none;
    }
}

.menu-link-contacts:hover svg .a {
    fill: $active-secondary-button-background;
}


.active.menu-link-contacts svg .a {
    fill: $secondary-background;
}

/* Иконка контакты */
.menu-link-role svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-role:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-role svg .b {
    fill: $secondary-background;
}

/* Иконка помощь */
.menu-link-help svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-help:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-help svg .b {
    fill: $secondary-background;
}

/* Иконка выставленные счета */
.menu-link-exposed-bills svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-exposed-bills:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-exposed-bills svg .b {
    fill: $secondary-background;
}
//мониторинг оплат
.menu-link-monitoring {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-monitoring:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-monitoring svg .b {
    fill: $secondary-background;
}
//Пользователи
.menu-link-marketplace-users {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}
/* Иконка Пункты меню */
.menu-link-main-menu-edit {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-main-menu-edit:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-main-menu-edit svg .b {
    fill: $secondary-background;
}

.menu-link-marketplace-users:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-marketplace-users svg .b {
    fill: $secondary-background;
}
//сменить роль
.menu-link-role svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-role:hover svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-role svg .b {
    fill: $secondary-background;
}

.menu-link-special svg {
    fill: #47A9FF;
    width: 30px;
    height: 30px;
}

.menu-link-special:hover svg, .menu-link-special:focus svg {
    fill: $active-secondary-button-background;
}

.menu-link-meter-devices svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-meter-devices:hover svg .b, .menu-link-meter-devices:focus svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-meter-devices svg .b {
    fill: $secondary-background;
}
/*быстрая оплата*/
.menu-link-fast-payments svg {
    .a {
        fill: none;
    }

    .b {
        fill: $third-background;
        fill-rule: evenodd;
    }
}

.menu-link-fast-payments:hover svg .b, .menu-link-fast-payments:focus svg .b {
    fill: $active-secondary-button-background;
}

.active.menu-link-fast-payments svg .b {
    fill: $secondary-background;
}
/*кнопки-подсказки*/
.menu-tooltip {
    background: $primary-background;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    margin-left: -35px;
    z-index: 1000;
    color: $third-text-color;
    border: 4px solid $fourth-border-color;
    padding: 0;
    text-align: center;

    &:hover, &:focus {
        background-color: $third-background;
        color: $fourth-text-color;
        border: 4px solid $third-background;
        padding: 0;
    }
}
/* min-width: 1220px */
@media screen and (max-width: 1550px) {
    .sidebar {
        width: 300px;
        padding-right: 25px;
        padding-left: 25px;
        background-position: left -11% bottom -4%, left -20% bottom -12%;
    }

    .main-nav {
        padding: 0 0 30px;
    }

    .bottom-menu-list {
        padding: 20px 0 0 0;

        &::before {
            left: 0;
            width: 100%;
            margin-left: 0;
        }
    }
}

/* min-width: 1024px */
@media screen and (max-width: 1219px) {
    .sidebar {
        position: fixed;
        left: -300px;
        z-index: 103;
        padding-top: 50px;
        visibility: hidden;
        -webkit-transition: all ease;
        -o-transition: all ease;
        transition: all ease;
        -webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
    }

    /* Для адаптивного меню показать/скрыть сайдбар */
    .sidebar-show {
        left: 0;
        visibility: visible;
    }

    /* Кнопка для открытия сайдбара */
    .sidebar-menu-toggle {
        display: block;
    }

    /* Кнопка для закрытия сайдбара */
    .sidebar-close {
        display: block;
    }

    /* Основное меню */
    .main-nav {
        height: 89%;
    }
}

@media (max-width: 1023px) {
    .sidebar-menu-toggle {
        margin-right: 0;
    }
}

@media (max-width: 479px) {
    .sidebar-menu-toggle {
        width: 33px;
        height: 25px;

        span,
        span::before,
        span::after {
            height: 5px;
        }

        span::before {
            top: 10px;
        }

        span::after {
            top: 20px;
        }
    }
}
