.timetable-section {
    .timetable-card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .timetable-date {
        margin-bottom: 15px;
        font-size: 20px;
        color: $secondary-text-color;
        font-weight: 700;
        text-align: center;
        border-bottom: 1px solid;
        padding-bottom: 5px;
    }

    .timetable-lesson-item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;
        align-items: center;

        &:last-of-type {
            border-bottom: 1px solid $secondary-text-color;
            padding-bottom: 5px;
        }
    }

    .timetable-lesson-time {
        width: 100px;
        margin-right: 15px;
        font-weight: 500;
    }

    .timetable-lesson-text {
        width: 40%;
        min-width: 200px;
        font-size: 16px;
        font-weight: 600;
    }

    .timetable-lesson-teacher {
        width: 40%;
        color: $active-secondary-button-background;
        font-weight: 500;
    }

    .timetable-lesson-place {
        width: 20%;
    }

    .timetable-lesson-teacher-place-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100%-220px)
    }
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @include reset-list();
    margin: 32px -10px 0 22px;

    > li {
        width: 225px;
        margin: 0 10px 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.tab-item {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 10px 9px;
    font-size: $primary-font-size;
    font-weight: 700;
    text-align: center;
    color: $fourth-text-color;
    background-color: $third-background;
    -webkit-box-shadow: 0px 15px 20px $primary-shadow-color;
    box-shadow: 0px 15px 20px $primary-shadow-color;
    border-radius: $primary-border-radius;
    border: 4px solid $primary-border-color;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover,
    &:focus,
    &.active {
        background-color: #0389FF;
        border-color: #0389FF;
        color: white;
    }

    &[aria-selected] {
    }

    .dropdown-btn {
        &:hover,
        &:focus,
        &.active {
            background-color: #0389FF !important;
            border-color: #0389FF;
            color: white;
        }
    }
}

.timetable-lesson-para {
    width: 50px;
}

@media (max-width: 800px) {
    .timetable-lesson-item, .timetable-lesson-teacher-place-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .timetable-section .timetable-lesson-teacher-place-wrapper {
        width: 100%;
    }
    .timetable-section .timetable-lesson-item {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .timetable-section .timetable-lesson-text, .timetable-section .timetable-lesson-teacher, .timetable-lesson-place {
        width: 100%;
        margin-bottom: 10px;
    }
    .timetable-lesson-para {
        display: none;
    }
    .timetable-lesson-item {
        border-bottom: 1px solid $third-text-color;
        margin-right: 15px;
    }
    .timetable-date {
        margin-right: 15px;
    }
}
