<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/img/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
</head>
<body>
    <partial name="_Preloader" />
    <div class="overlay"></div>
    @await Html.PartialAsync("MainMenu/_MainMenu")
<div class="container">
    <header class="header">
        <button class="sidebar-menu-toggle" type="button"><span></span><span class="visually-hidden"></span></button>
        @await Html.PartialAsync("Headers/_MainHeaders")
    </header>
    <main role="main" id="mainRender">
        @RenderBody()
    </main>
    <footer class="footer-with-table">
        <table class="footer-table">
            <tbody>
                <tr class="footer-table-str-first">
                    <td class="footer-contacts-support">
                        <span>Служба техподдержки:</span>
                    </td>
                    <td class="footer-site">
                        <span>© 2021</span>
                        <a href="#">
                            Ogooglebar
                        </a>
                    </td>
                    <td class="footer-email">
                        <p>
                            <span>Электронная почта:</span>
                            <a class="footer-mail-link" href="mailto:Ogooglebar@mail.ru">
                                Ogooglebar@mail.ru
                            </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="footer-table-mobile">
            <tbody>
                
                <tr>
                    <td class="footer-site">
                        <span>© 2021</span>
                        <a href="#">
                            Ogooglebar
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="footer-email">
                        <p>
                            <span>Электронная почта:</span>
                            <a class="footer-mail-link" href="mailto:Ogooglebar@mail.ru">
                                Ogooglebar@mail.ru
                            </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </footer>
    <a class="scroll-to-top js-scroll" title="Наверх">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path fill="none" d="M0 0h15v15H0z" /><path d="M.804 5.878a1.626 1.626 0 012.3-2.3l4.4 4.4 4.4-4.4a1.624 1.624 0 012.294 2.3l-5.551 5.543a1.616 1.616 0 01-2.294 0L.804 5.878z" /></svg>
    </a>
</div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function Loader(b) {
            if (typeof b === "boolean") {
                if (b == true) $('.loader-wrapper').fadeIn(10);
                else $('.loader-wrapper').fadeOut(10);
            } else $('.loader-wrapper').fadeToggle(10);
        }
        window.onbeforeunload = function () {
            $('.loader').fadeIn(10);
            setTimeout(function () {
                Loader(false);
            }, 105000); //hide loader
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
