<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/img/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
</head>
<body>
    <partial name="_Preloader" />
    <div class="overlay"></div>
    <header>
    </header>
    @await Html.PartialAsync("MainMenu/_MainMenu")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function Loader(b) {
            if (typeof b === "boolean") {
                if (b == true) $('.loader-wrapper').fadeIn(10);
                else $('.loader-wrapper').fadeOut(10);
            } else $('.loader-wrapper').fadeToggle(10);
        }
        window.onbeforeunload = function () {
            $('.loader').fadeIn(10);
            setTimeout(function () {
                Loader(false);
            }, 105000); //hide loader
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
