@model IEnumerable<UniHackStart.Models.TimeTableReestersModel>
<div class="meter-devices-table-string">

    @foreach (var reester in @Model)
    {
        
        <div class="meter-devices-table-string">
            <div class="meter-devices-check">
                <label class="main-checkbox">
                    <input name="isCurrent" class="visually-hidden dispatchingFlag" data-device-id="" type="radio" value="true" checked="@(reester.IsCurrent? true : false)">
                    <span class="main-checkbox-text left"></span>
                </label>
            </div>
            <div class="meter-devices-addres">
                <span class="meter-devices-addres-name"> @reester.FileName</span>
            </div>

            <div class="meter-devices-date">
                <span class="meter-devices-date-label">Дата создания</span>
                <span class="meter-devices-date-item"> @reester.Created</span>

            </div>
            <div class="meter-devices-date">
                <span class="meter-devices-date-label">ID пользователя</span>
                <span class="meter-devices-date-item"> @reester.UserId</span>
            </div>

            <button class="modal-close" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.213" height="21.213" viewbox="0 0 21.213 21.213"><g transform="translate(10.607) rotate(45)"><rect class="a" width="15" height="15"></rect><path class="b" d="M5.909,1.733a1.626,1.626,0,0,1,3.252,0V5.909h4.176a1.626,1.626,0,1,1,0,3.252H9.161v4.176a1.626,1.626,0,1,1-3.252,0V9.161H1.733a1.626,1.626,0,0,1,0-3.252H5.909Z" transform="translate(-0.035 -0.035)"></path></g></svg>
            </button>
        </div>
    }
    </div>

