@using UniHackStart.Models;
@{int n = 1;}
<ul class="tabs payment-tabs">
    <li><button class="tab-item payments active" id ="abc" onclick="setActiveTab(this,1)" >Неделя 1</button></li>
    <li><button class="tab-item recurring-payments"onclick="setActiveTab(this,2)" >Неделя 2</button></li>
    <li><button class="tab-item all-payments" onclick="setActiveTab(this,3)">Общее расписание</button></li>
</ul>

<div class="card-list">
    @for (int i = 0; i < 6; i++)
    {
            @await Html.PartialAsync("_partialWeekTimetable", new WeekTimetableModel
       {
           dateOfWeek="1", 
           weekNumber=1,
           name ="Электротехника",
           teachername="Шмигирилов Ю.Г.",
           time="8.00" ,
           place="3-104"
        })}

</div>
<script>
    function setActiveTab(btn,n) {
        var tab = $(".tab-item");
        for (var i = 0; i < tab.length; i++) {
            tab.removeClass('active');
        }
        $(btn).addClass('active');
        getTimetable(n);
    }
    function getTimetable(na) {
        $('.card-list').html("");
        $.ajax({
            url: "@Url.Action("GetTimetable", "Timetable")",
            type: 'POST',
            data: { "n" : String(na) },
            success: function (data) {
                    $('.card-list').append(data);
                },
            error: function (data) {
                $('.card-list').append(data);
                }
        });
    }
</script>