@using UniHackStart.Models;
@{int n = 1;}
<ul class="tabs payment-tabs">
    <li><button class="tab-item payments active" id ="abc" onclick="setActiveTab(this,1)" >Неделя 1</button></li>
    <li><button class="tab-item recurring-payments"onclick="setActiveTab(this,2)" >Неделя 2</button></li>
    <li><button class="tab-item all-payments" onclick="setActiveTab(this,3)">Общее расписание</button></li>
</ul>

<div class="card-list">
    <h2 class="block-title">Выберите необходимую неделю</h2>
</div>
<script>
    function setActiveTab(btn,n) {
        var tab = $(".tab-item");
        for (var i = 0; i < tab.length; i++) {
            tab.removeClass('active');
        }
        $(btn).addClass('active');
        getTimetable(n);
    }
    function getTimetable(na) {
        $('.card-list').html("");
        $.ajax({
            url: "@Url.Action("GetTimetable", "Timetable")",
            type: 'POST',
            beforeSend: Loader,
            complete: Loader,
            data: { "n" : String(na) },
            success: function (data) {
                    $('.card-list').append(data);
                },
            error: function (data) {
                $('.card-list').append(data);
                }
        });
    }
</script>