@model UniHackStart.Models.MyTeacher
<a class="card teachers-card" href="" title="Посмотреть расписание">
    <img class="icon" src="~/img/teachers/man-svgrepo-com.svg" alt="" width="70" height="70" aria-hidden="true">
    <div class="name" style="font-weight: 700; color: #d92419">@Model.FacultyName</div>
    <div class="name" style="font-size: 18px;font-weight:500;">ФИО: @Model.FIO</div>
    <div class="tel"style="color: #83b4ff">mail: @Model.Email</div>
   @* <div class="email">Телефон: @Model.Phone</div>*@
</a>
