@model UniHackStart.Models.MyTeacher
<a class="card teachers-card" href="" title="Посмотреть расписание">
    <img class="icon" src="~/img/teachers/man-svgrepo-com.svg" alt="" width="70" height="70" aria-hidden="true">
    <div class="name">@Model.FacultyName</div>
    <div class="name">ФИО: @Model.FIO</div>
    <div class="tel">mail: @Model.Email</div>
   @* <div class="email">Телефон: @Model.Phone</div>*@
</a>
