@{
    ViewData["Title"] = "Преподаватели";
    ViewData["ActiveMenuLink"] = "menu-link-teachers";
}
<ul class="breadcrumbs">
    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
    <li>
        <a class="active"> @ViewData["Title"]</a>
    </li>
</ul>