@{
    ViewData["Title"] = "Преподаватели";
    ViewData["ActiveMenuLink"] = "menu-link-teachers";
}
<ul class="breadcrumbs">
    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
    <li>
        <a class="active"> @ViewData["Title"]</a>
    </li>
</ul>
<section class="teachers-section">
    <h1 class="block-title">Преподаватели</h1>
    <div class="card-list">
        @for (int i = 0; i < 5; i++)
        {
            <partial name="_partialTeachers" />
        }
    </div>
    </section>
